<div class="container py-4">
  <div class="mb-2 row row-cols-auto">
    <div class="col">
      <a class="text-reset" href="mailto:enquiries@jamesgarnercomposer.co.uk">Contact</a>
    </div>
    <div class="col">
      <a class="text-reset" href="https://soundcloud.com/jamesgarnercomposer">Soundcloud</a>
    </div>
  </div>
  <div class="mb-4 text-secondary">
    Scores for hire or perusal available upon request.
  </div>
  <div>© 2021 James Garner</div>
  <div class="text-secondary">
    Source code available on <a class="text-reset" href="https://github.com/jamesgarnercomposer/www.jamesgarnercomposer.co.uk">GitHub</a>.
  </div>
</div>
